<ion-header class="complaints">
  <nl-navbar [title]="title"></nl-navbar>
</ion-header>
<ion-content class="csGrayBackground">
  <ion-card>
    <ion-card-header>
      Learning Forward India
    </ion-card-header>
    <ion-card-content>
      <p>
        Learning Forward India (LFIN) is an affiliate of Learning Forward (LF), membership is open to any person interested in professional
        growth and organisational development.
      </p>
    </ion-card-content>
  </ion-card>
  <div *ngIf="page1">
    <ion-card>
      <ion-list>
        <ion-item>
          <ion-label stacked>Firstname <span color="danger">*</span></ion-label>
          <ion-input type="text" placeholder="Your answer"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Surname <span color="danger">*</span></ion-label>
          <ion-input type="text" placeholder="Your answer"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Phone <span color="danger">*</span></ion-label>
          <span style="font-size: small;">
        Country code, follow by your ten digit number, example "919811133900", do not add '+' sign.
      </span>
          <ion-input type="number" placeholder="Your answer"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Address 1 <span color="danger">*</span></ion-label>
          <ion-input type="text" placeholder="Your answer"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Address 2 <span color="danger">*</span></ion-label>
          <ion-input type="text" placeholder="Your answer"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>City <span color="danger">*</span></ion-label>
          <ion-input type="text" placeholder="Your answer"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Email <span color="danger">*</span></ion-label>
          <ion-input type="text" placeholder="Your answer"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>State <span color="danger">*</span></ion-label>
          <ion-input type="text" placeholder="Your answer"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Pin Code / ZIP <span color="danger">*</span></ion-label>
          <ion-input type="text" placeholder="Your answer"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Areas of interest, please give single 'keywords' separated by commas. <span color="danger">*</span></ion-label>
          <ion-input type="text" placeholder="Your answer"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Your School / Organisation</ion-label>
          <ion-input type="text" placeholder="Your answer"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Designation/ Position if any</ion-label>
          <ion-input type="text" placeholder="Your answer"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Website 1 (Official)</ion-label>
          <ion-input type="text" placeholder="Your answer"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Website 2 (Personal)</ion-label>
          <ion-input type="text" placeholder="Your answer"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>LinkedIn URL</ion-label>
          <ion-input type="text" placeholder="Your answer"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Facebook Page, kindly give the URL</ion-label>
          <ion-input type="text" placeholder="Your answer"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card>
    <div padding>
      <button full ion-button icon-right (click)="onSubmit()">
      MAKE PAYMENT<ion-icon name="md-send"></ion-icon> 
    </button>
    </div>
  </div>
  <div *ngIf="page2">
    <ion-card>
      <ion-list>
        <ion-list-header>
          You are paying for
        </ion-list-header>
        <ion-item>
          <ion-label stacked>Email <span color="danger">*</span></ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Phone <span color="danger">*</span></ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Name <span color="danger">*</span></ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-list-header>
          Payment Description
        </ion-list-header>
        <ion-item>
          <ion-label stacked>Add Your Amount</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card>
    <div padding>
      <ion-row>
        <ion-col>
          <button full ion-button icon-left (click)="goToFirstPage()">
      <ion-icon name="md-arrow-round-back"></ion-icon> PREV
    </button>
        </ion-col>
        <ion-col>
          <button full ion-button icon-right (click)="makePayment()">
      NEXT<ion-icon name="md-arrow-round-forward"></ion-icon> 
    </button>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <div *ngIf="page3">
    <ion-card>
      <ion-list radio-group [(ngModel)]="relationship">
        <ion-list-header>
          Select Paying Method
        </ion-list-header>
        <ion-item>
          <ion-label>Credit/Debit Card</ion-label>
          <ion-radio value="friends"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Netbanking</ion-label>
          <ion-radio value="family"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>UPI</ion-label>
          <ion-radio value="enemies"></ion-radio>
        </ion-item>
        <div *ngIf="relationship">
          <ion-list-header>
            Enter Card Details
          </ion-list-header>
          <ion-item>
            <ion-label>Card Number:</ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Expiry Date:</ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>CVV:</ion-label>
            <ion-input type="number" maxlength="3"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Email:</ion-label>
            <ion-input type="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Phone:</ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>
        </div>
      </ion-list>
    </ion-card>
    <div padding>
      <ion-row>
        <ion-col>
          <button full ion-button icon-left (click)="goToSecondPage()">
        <ion-icon name="md-arrow-round-back"></ion-icon> PREV
      </button>
        </ion-col>
        <ion-col>
          <button full ion-button icon-right (click)="donePayment()">
        PAY<ion-icon name="md-send"></ion-icon> 
      </button>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
