<ion-header class="complaints">
  <nl-navbar [title]="title"></nl-navbar>
</ion-header>

<ion-content class="csGrayBackground">

  <div *ngIf="page1">

  <ion-card>
    <ion-card-header class='ion-card-header1'>
      Join Our Partner Schools
    </ion-card-header>
    <ion-card-content>
      <p>If you wish to work with one of our partner schools and would like us to place you, please fill this form in full.</p>
    </ion-card-content>
  </ion-card>

    <ion-card>
      <ion-list radio-group>
       <ion-list-header class='ion-card-header2'>
          <span>What kind of job are you looking for? <span color="danger">*</span></span>
        </ion-list-header>
        <ion-card-content>
        <ion-item>
          <ion-label>Principal</ion-label>
          <ion-radio value="Principal"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Administrator</ion-label>
          <ion-radio value="Administrator"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Teacher</ion-label>
          <ion-radio value="Teacher"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Other</ion-label>
          <ion-radio value="Other"></ion-radio>
        </ion-item>
        </ion-card-content>
      </ion-list>
    </ion-card>

    <ion-card>
      <ion-list>
        <ion-list-header class='ion-card-header3'>
          <span>I can join in: <span color="danger">*</span></span>
        </ion-list-header>
        <ion-item>
          <ion-label>January</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>April</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>June</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>September</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Immediately</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-card>
    <div padding>
      <button ion-button full icon-right (click)="goToSecondPage()">NEXT <ion-icon name="md-arrow-round-forward"></ion-icon></button>
    </div>
  </div>

  <div *ngIf="page2">
    <ion-list>
      <ion-item>
        <ion-label stacked>Email:<span color="danger">*</span></ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Contact Number:<span color="danger">*</span></ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label stacked>Qualification:<span color="danger">*</span>
        </ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked><span>Background work work in girls/coeducational school? </span><span color="danger">*</span><br/>
          <span style="font-size: small;">
            Enter Details
          </span>
        </ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked><span>Work Details:</span><span color="danger">*</span><br/>
          <span style="font-size: small;">
            Enter name of institution, your role and since when you have been on the current job.
          </span>
        </ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked><span>Any experience of pastoral care? </span><span color="danger">*</span><br/>
          <span style="font-size: small;">
            Worked in a residential school, day-boarding, any institution that needs working with children beyond the class room
          </span>
        </ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked><span>Professional qualification in English?<span color="danger">*</span></span> 
          <span style="font-size: small;">
            Enter degree, specialisation and experience of teaching
          </span>
        </ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked><span>Website of the school you are currently working in.</span>
        </ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Age:<span color="danger">*</span></ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Address <span color="danger">*</span>
        </ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked><span>Expected salary:</span><span color="danger">*</span></ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
    </ion-list>
    <ion-card>
    <ion-item style="background:transparent">
      <ion-label>I accept</ion-label>
      <ion-toggle checked="false"></ion-toggle>
    </ion-item>
    </ion-card>
    <div padding>
      <ion-row>
        <ion-col>
          <button ion-button icon-left full (click)="goToFirstPage()">
        <ion-icon name="md-arrow-round-back"></ion-icon> PREV
      </button>
        </ion-col>
        <ion-col>
          <button ion-button full icon-right (click)="submit()">SUBMIT <ion-icon name="md-send"></ion-icon></button>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div *ngIf="page3">
    <div padding>
      <button ion-button full icon-left (click)="goToSecondPage()">
        <ion-icon name="md-arrow-round-back"></ion-icon> PREV
      </button>
    </div>
  </div>

</ion-content>
