<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
    <img src="https://4.bp.blogspot.com/-fNgWR42pHjU/Vf6PFxip2aI/AAAAAAAB06Y/SgYQdergnLk/s0/Dark_Material_Design2_wallpaper.jpg" />
  </ion-header>

  <ion-content class="csDashboardBack">
    <ion-list>
      <button ion-item menuClose [class.csSelected]="selectedPage == p.title" *ngFor="let p of dashboard" (click)="openPage(p)" [disabled]="!showDashboard">
        <ion-icon name="ios-easel-outline" item-left></ion-icon>
        {{p.title}}
      </button>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" [class.csSelected]="selectedPage == p.title">
        <ion-icon name={{p.icon}} item-left></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>