/* <=============================== Title: Corner Stone Theme Website: http://cornerstone.pk Date: 21/12/2016 =================================> */
/* =============================== Colors: ================================== */

$csLightHeaderColor: #e3e0e0;
/* ===============================
    Colors:
================================== */

.setBottom {
    position: absolute;
    bottom: 5px;
}
.csWhiteText {
    color: white;
}
.csCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.csBackground {
    background-size: cover;
    position: fixed;
    background-repeat: no-repeat;
}
.csBorderWhite {
    border: solid 1px white;
    box-shadow: 0px 0px 8px #000000;
}
.csFillBackground {
    width: 100%;
    height: 100%;
    background-size: cover;
}
.csMainBackground {
    @extend .csFillBackground;
    @extend .csWhiteText;
    background-image: csBackgroundSvg('gBoard.svg');
}
.csBackgroundGray {
    background: $csBackgroundColor;
}
.csFull {
    width: 100% !important;
}
.csCircle {
    border-radius: 100%;
    border: 3px solid #fff;
}
.csBoxShadow {
    box-shadow: 4px 4px 9px black;
}
.csCardHeader {
    background-color: #818181;
    color: #fff;
}
.csClearButton {
    color: $color1;
}
.csFontColor1 {
    color: $color1;
}
.csTransclusentButton {
    @extend .csClearButton;
    background-color: $csTransparentWhite;
}

.csLoginLogo {
    @extend .csCenter;
    width: 30%;
}
.csWidth {
    width: 90%;
}
.csLoginScreen {
    @extend .csBackground;
    background-image: csBackgroundSvg('college4.svg');
}
.csTransparent {
    background-color: rgba(255, 255, 255, 0) !important;
}
.csLoginBox {
    background-color: rgba(255, 255, 255, 0.75) !important;
}
.marginTop {
    margin-top: $csTop;
}
/*-----------*/

.csHeader {
    background-color: $color1;
    color: #fff !important;
}
.csLightHeader {
    background: $csLightHeaderColor;
    span {
        color: black;
    }
}
.toolbar-background-md,
toolbar-background-ios {
    background-color: $color1;
    color: white;
}
.action-sheet-ios,
.action-sheet-md,
.action-sheet-wp {
    .action-sheet-button {
        color: $color1;
    }
}
.toolbar-background-ios,
toolbar-background-wp,
toolbar-background-md {
    background: $color1 !important;
}

.csGrayBackground {
    background: $csBackgroundColor;
}
.csParagraph {
    font-size: 1.4rem;
    white-space: pre-line;
    margin-top: 5px;
}
.csListCardIcon {
    margin-top: 32px !important;
}
.csFont {
    font-size: 1.4rem;
}
.csBoldFont {
    font-size: 1.4rem;
    font-weight: bold;
}
.csRight{
    float:right;
}
ion-content{
    @extend .csGrayBackground;
}
.item-ios{
    font-size:1.4rem !important;
}
//Student Rating (Management)
.csRating{
    ion-item{
    p{
        color:black;
        text-align:center;
    }
    }
}
rating{
    color:$color1;
}
.csStudentName{
    text-align:center !important;
}
button{
    font-style:initial;
}
.bold{
    font-weight: bold;
}
.header-ios .toolbar-ios:last-child .toolbar-background-ios, .header-md .toolbar-md:last-child .toolbar-background-md {
    border-width: 0px !important;
}
.csFooter{
    background:$color1;
}
.csFiftyLimit{
    top: -18px;
    position: relative;
    margin-right:5px;
    float:right;
}
.item-input .label-md, .item-select .label-md, .item-datetime .label-md{
    color: #464646;
}
.item-input .label-ios, .item-select .label-ios, .item-datetime .label-ios{
    color: #464646;
}
.no-comment{
    @extend .csCenter;
    margin-top:20vh;
    color:dimgray;
    text-align:center;
    ion-icon{
        font-size:100px;
    }
}
.csBigIcon{
    font-size: 2.2em;
}
.tabs-ios-primary .tab-button[aria-selected=true], .tabs-ios-primary .tab-button[aria-selected=true] .tab-button-icon,
.tabs-md-primary .tab-button[aria-selected=true], .tabs-md-primary .tab-button[aria-selected=true] .tab-button-icon {
    color: #fff;
    font-weight:bold;
    border-top: white solid;
}

.csPrimaryBackground{
    background:$color1;
}
.csFullWidth{
    width:100%;
}
.csFiveLeft{
    margin-left:5px;
}
.csCardTopBorder{
    border-top: 3px solid $color1;
}
.cal-open-day-events{
  display:none;
}
.csVWSmallText{
    margin-left:5px !important;
    font-size: 3vw !important;
}
.csStatus{
    position: absolute;
    top: 10px;
    right: 10px;
}
ion-content{
    @extend .csGrayBackground;
}
.csHeaderText{
    padding: 16px;
    font-size: 1.6rem;
    font-weight: 500;
    color: #333;
}